*{
    margin:0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(18, 18, 37);
    color:white;
    height: 5rem;
    line-height: 5rem; 
}
.choice{
    height:170px;
    width:170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    border-radius: 50% 50%;
    
}
.choice:hover{
   box-shadow: 4px 5px 10px 4px black;
   cursor: pointer;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    font-size: 2rem;
}
img{
    height:100px;
    width:100px;
    object-fit: cover;  
}
.score-board{
 display: flex;
 justify-content: center;
 gap:5rem;
 margin-top: 5rem;
 font-size: 2rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #27273a;
    color:white;
    font-size: 2rem;
    display: inline;
    padding:1rem;
    border-radius: 10%;
}